/_todos.org
/.projectile
/.mypy_cache
/mlruns/
/tests/Results/ConfoundedAddition/.ipynb_checkpoints/*.ipynb
/tests/Results/OddEven/.ipynb_checkpoints/*.html
/tests/_experiments_log.org
/tests/.mypy_cache
/tests/.ipynb_checkpoints
/tests/__pycache__
/build
/pgd_optim.egg-info
**/.ipynb_checkpoints/
