[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
numpy = "*"
mlflow = "*"
click = "*"
joblib = "*"
pgmpy = "*"
jupyterlab = "*"
pygraphviz = "*"
seaborn = "*"
plotly = "*"
kaleido = "*"
gunicorn = "*"

[dev-packages]
pretty-errors = "*"
# pgd_optim_pytorch = {editable = true, path = "."}
ipdb = "*"
jupyterlab-vim = "*"

[requires]
python_version = "3.10"
